<%- include("header") %> 
<h2>About</h2>
<p>wqjkq;wlekrfjq;wkerj;qwrje;qlwrje q;lwrjq;lwrje q;lw rjq;wlrjeq;lkrje;qlwrjeqw qw;le j,adksnfjsdaf asdf as;kljfasd fasd lkjasd;lfkjas</p>
<%- include("footer") %> 